<!DOCTYPE html>
<html>
<head>
	<title> Django Demo </title>
	<style type="text/css">
		body{
			background-color: green;
		}
		#box{
			font-family:cursive;
			position:absolute;
		    top: 33%;
		    left: 25%;
		    width: 45%;
		    text-align: center;
		    border-top-left-radius: 70px;
		    border-bottom-right-radius: 70px;
		    color: #fff;
		    font-weight: bold;
		    border: 10px inset white;
		}
	</style>
</head>
<body>
	<div id="box">
		<h1>SUBSTRACTION OF THE GIVEN TWO NUMBERS IS :- </h1>
		<h1>{{substraction}} </h1>
	</div>
</body>
</html>